@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Libwebp.NET Web Client</h1>
    <p>A demo client for testing libwebp.net library in Asp.Net Core</p>
    <br />
    <br />

   <div>
    <form action="Home/Convert" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group">
                <input type="file" name="file" value="file" class="form-control-file" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Convert to Webp" />
            </div>
        </div>
   </form>
</div>
  </div>
