@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/webplogo.png"  style="margin-top:100px"/>
@*    <h1 class="display-4">Libwebp.NET</h1>*@
    <p>Upload your image and convert to Google's WebP Format</p>
    <br />
    <style>
        .form-control-borderless {
            border: none;
        }

            .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }
    </style>
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="Home/Convert" method="post" enctype="multipart/form-data">
                    <div class="card-body row no-gutters align-items-center">
                        @*<div class="col-auto">
                                <i class="fas fa-file h4 text-body"></i>
                            </div>*@
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-file form-control-lg form-control-borderless" type="file" name="file" value="file">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit"><i class="fas fa-cog"></i></button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->

        </div>
    </div>
</div>