@{
    ViewData["Title"] = "LibWebp.Net - An image conversion tool for .net";
}

<div class="text-center">
    <img src="~/images/webplogo.png"  style="margin-top:50px"/>
@*    <h1 class="display-4">Libwebp.NET</h1>*@
    <p>Upload your image and convert to Google's WebP Format</p>
    <br />
    <style>
        .form-control-borderless {
            border: none;
        }

            .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }
    </style>
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="Home/Convert" method="post" enctype="multipart/form-data">
                    <div class="card-body row no-gutters align-items-center">
                        @*<div class="col-auto">
                    <i class="fas fa-file h4 text-body"></i>
                </div>*@
                        <!--end of col-->
                        <div class="col">
                            <input id="file" onchange="checkfile()" required class="form-control form-control-file form-control-lg form-control-borderless" type="file" name="file" value="file">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" hidden="hidden" id="configure" type="button"><i class="fas fa-wrench"></i></button>
                            <button class="btn btn-lg btn-success" id="convert" type="submit"><i id="cog" class="fas fa-cog"></i></button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                         <p class="text-center">Advanced configuration coming soon!</p>
                      @*  <form class="row g-3">
                            <div class="form-group row col-12">
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label text-sm-center">Quality</label>
                                    <input type="text" placeholder="(0:small..100:big)" class="form-control" id="inputPassword4">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputEmail4" class="form-label text-sm-center">Alpha Q</label>
                                    <input type="email" class="form-control" placeholder="(0..100)" id="inputEmail4">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label text-sm-center">Compression </label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="(0=fast, 6=slowest)">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputState" class="form-label text-sm-center">Preset</label>
                                    <select id="inputState" class="form-select form-control">
                                        <option selected>Choose...</option>
                                        <option>Default</option>
                                        <option>Photo</option>
                                        <option>Picture</option>
                                        <option>Icon</option>
                                        <option>Text</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-12">
                                <div class="col-md-3">
                                    <label for="inputEmail4" class="form-label text-sm-center">Segment</label>
                                    <input type="text" class="form-control" placeholder="use (1..4)" id="inputEmail4">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label text-sm-center">Spatial Noice</label>
                                    <input type="text" class="form-control" placeholder="(0:off, 100:max)" id="inputPassword4">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label text-sm-center">Size</label>
                                    <input type="text" class="form-control" id="inputPassword4" placeholder="(width x height)">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label text-sm-center">Lossless</label>
                                    <input type="checkbox" class="form-control" id="inputPassword4">
                                </div>
                            </div>
                            <div class="form-group row col-12">
                                <div class="col-md-3">
                                    <label for="inputEmail4" class="form-label text-sm-center">Sharpness</label>
                                    <input type="text" class="form-control" placeholder="use (1..4)" id="inputEmail4">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label text-sm-center">Psnr</label>
                                    <input type="text" class="form-control" placeholder="(0:off, 100:max)" id="inputPassword4">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label text-sm-center">Filter</label>
                                    <input type="text" class="form-control" id="inputPassword4" placeholder="(0=off..100)">
                                </div>
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label text-sm-center">Pass Number</label>
                                    <input type="text" class="form-control" id="inputPassword4" placeholder="(1..10)">
                                </div>

                            </div>
                        </form>*@
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
    </div>
</div>

@section Scripts{ 

<script>
    var file = $("#file");
    var convert = $("#convert");
   function checkfile(){
        if (file.length>0)
            $("#configure").removeAttr("hidden");
    }

    convert.on("click", function () {
        $("#cog").addClass("fa-spin");
        $("form").submit(function () {
            $("#cog").removeClass("fa-spin");
        });
    })

    function checkCookie() {
        var cookieVal = $.cookie($("input[name='windowid']").val());
        if (cookieVal == null || cookieVal === 'undefined') {
            setTimeout("checkCookie();", 1000);
        }
        else {
            $(".working").hide();
            $(".input-form").show();
            $("form")[0].reset();
        }
    }

</script>

}
